<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <title>Topics / Asks / Replies</title>
    {% endblock %}
</head>
<body>

<div class="container py-lg-2">
    <header class="py-2 text-center">
        <a href="/">{{ session_name }}</a>
    </header>
    {% block content %}{% endblock %}
</div>

{% block scripts %}
{{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>
