{% extends 'base.html' %}

{% block content %}
    <table class="table table-sm table-striped table-hover text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Topic</th>
            <th scope="col">R/T</th>
            <th scope="col">Asks</th>
            <th scope="col">Replies</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr class="">
                <td class="align-middle">
                    {% if topic.active %}
                        <a href="/toggle-topic/{{ topic.id }}">{{ topic.id }}</a>
                    {% else %}
                        <a href="/toggle-topic/{{ topic.id }}" class="btn btn-block btn-sm btn-secondary">{{ topic.id }}</a>
                    {% endif %}
                </td>
                <td class="align-middle">
                    <div>
                        <a href="/topic/{{ topic.id }}">
                            {{ topic.title }}
                        </a>
                    </div>

                    <div>
                        {% for tag in topic.tags %}
                            {% if tag.active %}
                                <span class="badge badge-success">#{{ tag.title }}</span>
                            {% else %}
                                <span class="badge badge-secondary">#{{ tag.title }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td class="align-middle">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {% if topic.use_reply %}
                            <button type="button" class="btn btn-sm btn-success">Yes</button>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-outline-secondary">No</button>
                        {% endif %}
                        {% if topic.show_title %}
                            <button type="button" class="btn btn-sm btn-success">Yes</button>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-outline-secondary">No</button>
                        {% endif %}
                    </div>
                </td>
                <td class="align-middle">
                    {{ topic.asks.count() }}
                </td>
                <td class="align-middle">
                    {{ topic.replies.count() }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="post"
          action="/add-topic"
          class="my-4 border border-primary rounded p-4 bg-light">
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputTopicTitle">New topic</label>
                <input id="inputTopicTitle"
                       name="title"
                       type="text"
                       class="form-control"
                       placeholder="Topic title">
            </div>
            <div class="form-group col-md-2">
                <label for="selectTopicUseReply">Use reply</label>
                <select id="selectTopicUseReply"
                        name="useReply"
                        class="custom-select">
                    <option value="True" selected>Yes</option>
                    <option value="False">No</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="selectTopicShowTitle">Show title</label>
                <select id="selectTopicShowTitle"
                        name="showTitle"
                        class="custom-select">
                    <option value="True">Yes</option>
                    <option value="False" selected>No</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="selectTopicActive">Active</label>
                <select id="selectTopicActive"
                        name="active"
                        class="custom-select">
                    <option value="True" selected>On</option>
                    <option value="False">Off</option>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label for="inputTopicRemark">Remark</label>
                <input id="inputTopicRemark"
                       name="remark"
                       type="text"
                       class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="submitTopicAdd">Submit</label>
                <div>
                    <button id="submitTopicAdd" type="submit" class="btn btn-danger btn-block">
                        ADD
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
